.toast-container {
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #000000;
    padding: 12px 20px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.toast-content {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
