.subject-container {
    padding-top: 54px;
    padding-bottom: 136px;
    margin: 0 auto;
    width: min(716px, calc(100% - 64px));
}
.RdButton {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

@media (max-width: 375px) {
    .subject-container {
        padding-bottom: 126px;
        margin: 0 auto;
        width: min(716px, calc(100% - 48px));
    }
}
