.pagination-container {
    display: flex;
    height: 40px;
    max-width: 280px;
}
.pagination-button {
    flex: 0 0 40px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    font-family: Actor;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #818181;
    cursor: pointer;
}
.pagination-activebutton {
    color: #542f1a;
    flex: 0 0 40px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    font-family: Actor;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
}
.pagination-button:disabled {
    cursor: default;
    opacity: 0.5;
}
